<!DOCTYPE html>
@using BitsOrch.Infrastructure
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<FieldDTO>

<head>
    <title>BitsOrch</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
<form asp-controller="Home" asp-action="PostFile" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile">
    <button type="submit">Send</button>
</form>

@if (Model.Count() > 0)
{
    <hr />
    <input type="text" id="filterInput" placeholder="Search...">
    <table class="table-sortable">
        <thead>
            <tr>
                <th class="sortable" data-sort-direction="asc" data-column-index="0">Name</th>
                <th class="sortable" data-sort-direction="asc" data-column-index="1">Birthday (YYYY-MM-DD)</th>
                <th class="sortable" data-sort-direction="asc" data-column-index="2">Married</th>
                <th class="sortable" data-sort-direction="asc" data-column-index="3">Phone</th>
                <th class="sortable" data-sort-direction="asc" data-column-index="4">Salary</th>
                <th class="sortable" data-sort-direction="asc" data-column-index="5">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (FieldDTO field in Model)
        {
            <tr>
                <td><span class="editable" contenteditable="true">@field.Name</span></td>
                <td><span class="editable" contenteditable="true">@field.BirthDate</span></td>
                <td><span class="editable" contenteditable="true">@field.Married</span></td>
                <td><span class="editable" contenteditable="true">@field.MobilePhone</span></td>
                <td><span class="editable" contenteditable="true">@field.Salary</span></td>
                <td>
                    <form asp-controller="Home" asp-action="DeleteRow" method="post">
                        <input type="hidden" name="id" value="@field.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
<script src="js/tablesort.js"></script>
<script src="js/tablefilter.js"></script>
<script src="js/rowedit.js"></script>
</body>
